/*
 * 
 * 
 * 
 * Variabler som kan genbruges i stedet for at lave nye men samme værdier til hver element som skal have en gentagende værdi.
 * Det meste CSS er lige til da class og id navnene beskriver hvilket element det er.
 * Property værdierne burde også være lige til.
 */

:root {
  --1_special: #f7107f;
  --text-elements: #fff;
  --bg-color: #212121;
  --2_blue: #15a4f4;
  --3_green: #04ff4a;
  --4_purple: #bc2dff;
  --card-bg: #2c2c2c;
  --waves-library-black\[deleted\|variable-d656d06e\]: #131313;
  --waves-library-white\[deleted\|variable-bb55bcc6\]: white;
}

/* Til grid layout og checkboxes */

.yh-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.yh-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.yh-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.yh-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.yh-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.yh-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.yh-checkbox-input--inputType-custom.yh--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.yh-checkbox-input--inputType-custom.yh--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

/* Standard styling til den globale tekst */

body {
  color: #333;
  /* font-family: Arial, Helvetica Neue, Helvetica, sans-serif; */
  font-family: Varela, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: var(--1_special);
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.text-size-small {
  color: var(--text-elements);
  font-size: .875rem;
}

.text-size-small.text-weight-semibold.text-inline {
  display: inline;
}

/* Navigation menuen */

.navbar2_dropdown-toggle {
  grid-column-gap: .5rem;
  align-items: center;
  padding: 1.5rem 1rem;
  display: flex;
}

.navbar_logo-link {
  padding-left: 0;
}

.navbar2_blog-item-image-wrapper {
  width: 100%;
  padding-top: 66.66%;
  display: flex;
  position: relative;
}

.navbar2_menu-right {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: flex;
}

.navbar_component {
  width: 100%;
  background-color: var(--bg-color);
  background-image: linear-gradient(to right, var(--1_special) 10%, var(--2_blue) 36%, var(--3_green) 63%, var(--4_purple) 88%);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: .125rem;
  display: flex;
  position: relative;
  top: auto;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.navbar2_blog-item-content {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.dropdown-chevron {
  width: 1rem;
  height: 1rem;
  color: var(--text-elements);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar2_dropdown-link-list {
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
  color: var(--text-elements);
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-auto-columns: 1fr;
  font-size: 20px;
  display: grid;
}

.navbar_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text-style-link {
  color: var(--1_special);
  text-align: left;
}

.navbar_link {
  color: #fff;
  text-transform: uppercase;
  padding: 1.5rem 1rem;
}

.navbar_link.yh--current {
  color: var(--1_special);
}

.navbar2_dropdown-content-right {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  position: relative;
}

.navbar2_dropdown-link {
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  color: var(--text-elements);
  text-transform: none;
  grid-template-rows: auto;
  grid-template-columns: max-content 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
}

/* Knapper */

.button {
  background-color: var(--1_special);
  color: var(--text-elements);
  text-align: center;
  padding: .75rem 1.5rem;
}

.button.is-secondary {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to bottom, var(--1_special), var(--1_special));
  color: var(--text-elements);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-link {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  padding: .25rem 0;
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-icon {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: var(--text-elements);
}

/* Navigation menuen */

.navbar2_menu-dropdown {
  position: static;
}

.navbar2_blog-item {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-decoration: none;
  display: grid;
}

.navbar2_blog-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.navbar2_dropdown-content {
  display: flex;
}

.navbar2_menu {
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1.5rem;
  display: flex;
  position: static;
}

.navbar_logo {
  width: 5rem;
}

.navbar2_menu-button {
  padding: 0;
}

.navbar2_blog-list {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-auto-columns: max-content;
  display: grid;
}

.navbar2_dropdown-content-left {
  width: 100%;
  max-width: 15rem;
  grid-column-gap: 2rem;
  grid-row-gap: 0px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 2rem 2rem 0;
  display: flex;
}

/* Tekst og diverse */

.text-weight-semibold {
  font-weight: 600;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom.margin-small.centered {
  text-align: center;
  text-transform: capitalize;
  margin-top: -1.3rem;
}

.margin-bottom.margin-xxlarge {
  color: var(--text-elements);
}

.margin-bottom.margin-xxsmall {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.margin-bottom.margin-large {
  text-transform: capitalize;
}

.navbar2_dropdown-list.yh--open {
  background-color: var(--card-bg);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  top: 100%;
  left: 75%;
  right: 0;
}

.image-overlay-layer {
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-color-white {
  color: var(--text-elements);
}

.padding-section-large {
  color: var(--text-elements);
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
}

.padding-section-large.article-section-header {
  width: 100%;
  flex-direction: column;
}

.text-size-tiny {
  font-size: .75rem;
}

.text-size-medium {
  font-size: 1.125rem;
}

.text-size-medium.text-weight-semibold {
  color: var(--text-elements);
}

.error-message {
  margin-top: 1.5rem;
  padding: .875rem 1rem;
}

.max-width-medium {
  width: 100%;
  max-width: 35rem;
}

.form-input {
  height: auto;
  min-height: 2.75rem;
  background-color: var(--text-elements);
  margin-bottom: 0;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.6;
}

.form-input:focus {
  border-color: #000;
}

.form-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.form-input::placeholder {
  color: rgba(0, 0, 0, .6);
}

.home_hero-header_content {
  max-height: 60rem;
  min-height: 100svh;
  align-items: center;
  display: flex;
}

.padding-global {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}

.padding-global.footer {
  background-color: #111;
}

.home_hero-header_background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.home_hero-header_form-block {
  max-width: 30rem;
  margin-bottom: 0;
}

.home_hero-header_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  margin-bottom: 1rem;
  display: grid;
}

.success-message {
  background-color: rgba(0, 0, 0, 0);
  padding: 1.5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.container-large.footer-container, .container-large.article-section-content, .container-large.center-div {
  align-items: center;
}

.home_hero-header_background-image-wrapper {
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section_home_hero-header {
  background-image: url('../assets/pexels-tima-miroshnichenko-6790073_1456_dark.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
}

.icon-1x1-medium {
  width: 3rem;
  height: 3rem;
}

.home_features-list_card-medium-content {
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  display: flex;
}

.home_features-list_column {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, .2);
}

.home_features-list_card-medium-image-wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home_features-list_card-large-image-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home_features-list_card-large-content {
  background-color: var(--card-bg);
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 2rem 3rem;
  display: flex;
}

.home_features-list_card-large-content.premium-bg {
  background-image: linear-gradient(to bottom, #3f1a38, #3b1b52 99%, var(--card-bg));
}

.heading-style-h5 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.heading-style-h5.card-title {
  color: var(--2_blue);
  margin-top: 0;
  margin-bottom: 0;
}

.icon-embed-xxsmall {
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home_features-list_card-large {
  background-image: linear-gradient(to right, var(--1_special) 9%, var(--2_blue) 35%, var(--3_green) 61%, var(--4_purple) 89%);
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  padding-top: .125rem;
  display: flex;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, .2);
}

.home_features-list_card-small-content {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 1.5rem;
  display: flex;
}

.home_features-list_card-medium {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  border: 1px solid rgba(0, 0, 0, 0);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.home_features-list_card-small {
  border: 1px solid rgba(0, 0, 0, 0);
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.home_features-list_component {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  display: flex;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home_features-list_row {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.home_features-list_card-large-content-top {
  text-transform: capitalize;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-align-center {
  text-align: center;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.max-width-large.align-center {
  max-width: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5rem;
  display: flex;
}

.home_newsletter_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: end;
  display: grid;
}

.success-text {
  font-weight: 600;
}

.home_newsletter_form-block {
  max-width: 30rem;
  margin-bottom: 0;
}

.signup-form-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  margin-bottom: 1rem;
  display: grid;
}

.error-text {
  color: #e23939;
}

.footer2_link-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: start;
  display: grid;
}

.footer2_bottom-wrapper {
  justify-content: space-between;
  padding-bottom: 40px;
  display: flex;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-top.padding-medium {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer2_link {
  color: var(--text-elements);
  text-align: center;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: .7rem;
  font-weight: 600;
  text-decoration: none;
}

.footer2_link.yh--current {
  font-family: Lato, sans-serif;
}

.footer2_logo-link {
  margin-bottom: 2rem;
  padding-left: 0;
}

.footer2_credit-text {
  color: #646464;
  font-size: .875rem;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer2_legal-link {
  font-size: .875rem;
  text-decoration: underline;
}

.footer2_top-wrapper {
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.footer2_component {
  background-image: linear-gradient(to right, var(--1_special) 9%, var(--2_blue) 34%, var(--3_green) 62%, var(--4_purple) 89%);
  padding-top: .125rem;
}

.line-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0);
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.footer2_legal-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.articles_blog-list_heading {
  flex: 1;
  margin-bottom: 2rem;
}

.articles_blog-list_component {
  color: var(--text-elements);
}

.articles_blog-list_item-content {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  display: flex;
}

.articles_blog-list_item-content-top {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.articles_blog-list_category {
  background-color: rgba(0, 0, 0, 0);
  margin-right: 1rem;
  padding: .25rem .5rem;
  display: flex;
}

.articles_blog-list_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.articles_blog-list_list {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.articles_blog-list_meta-wrapper {
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
}

.text-size-regular {
  color: var(--text-elements);
  font-size: 1rem;
}

.articles_blog-list_item-link {
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  display: flex;
}

.articles_blog-list_heading-wrapper {
  grid-column-gap: 5rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: end;
  display: flex;
}

.articles_blog-list_image-wrapper {
  width: 100%;
  padding-top: 66%;
  position: relative;
  overflow: hidden;
}

.articles_blog-list_item {
  border: 1px solid rgba(0, 0, 0, 0);
}

.articles_blog-list_button-wrapper {
  margin-top: 1.5rem;
  display: flex;
}

.articles_blog-list_title-wrapper {
  margin-bottom: .5rem;
}

.articles_blog-list_button-row {
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.articles_blog-list_button-row.shoyh-mobile-landscape {
  display: none;
}

.article_blog-post-header_social-link {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  padding: .25rem;
}

.icon-embed-xsmall {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--1_special);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.article_blog-post-header_date-wrapper {
  margin-top: .25rem;
  display: flex;
}

.breadcrumb-divider {
  width: 1rem;
  height: 1rem;
  color: var(--text-elements);
  justify-content: center;
  align-items: center;
  margin-left: .5rem;
  margin-right: .5rem;
  display: flex;
}

.article_blog-post-header_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.article_blog-post-header_author-image {
  width: 3.5rem;
  height: 3.5rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  object-fit: cover;
  border-radius: 100%;
}

.article_blog-post-header_author-wrapper {
  align-items: center;
  display: flex;
}

.article_blog-post-header_content-top {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.article_blog-post-header_breadcrumb {
  width: 100%;
  align-items: center;
  margin-bottom: 1.5rem;
  display: flex;
}

.article_blog-post-header_text-divider {
  color: var(--text-elements);
  margin-left: .5rem;
  margin-right: .5rem;
}

.article_blog-post-header_author-image-wrapper {
  margin-right: 1rem;
}

.article_blog-post-header_image-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  position: relative;
  overflow: hidden;
}

.article_blog-post-header_title-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.article_blog-post-header_share {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-items: start;
  margin-top: 1rem;
  display: grid;
}

.breadcrumb-link {
  color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.breadcrumb-link.yh--current {
  font-weight: 600;
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.article_blog-post-body_tag-list {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  display: flex;
}

.article_blog-post-body_social-link {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  padding: .25rem;
}

.article_blog-post-body_tag-item {
  color: var(--text-elements);
  background-color: rgba(0, 0, 0, 0);
  padding: .25rem .5rem;
  font-size: .875rem;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.article_blog-post-body_tag-item.yh--current {
  border-bottom: 2px solid #000;
}

.article_blog-post-body_author-wrapper {
  align-items: center;
  display: flex;
}

.article_blog-post-body_content {
  width: auto;
  max-width: 60rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 4rem;
  display: flex;
}

.article_blog-post-body_author-image {
  width: 3.5rem;
  height: 3.5rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  object-fit: cover;
  border-radius: 100%;
}

.article_blog-post-body_share {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-items: start;
  margin-top: 1rem;
  display: grid;
}

.text-rich-text {
  color: var(--text-elements);
  text-align: left;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.article_blog-post-body_divider {
  width: 100%;
  height: 1px;
  max-width: 48rem;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article_blog-post-body_author-image-wrapper {
  margin-right: 1rem;
}

.article_blog-post-body_share-wrapper {
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.article_blog-post-body_tag-list-wrapper {
  width: 50%;
}

.article_blog-post-body_content-bottom {
  width: auto;
  max-width: 60rem;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.image {
  width: 3rem;
}

.text-block {
  color: #fff;
  text-transform: uppercase;
}

.navbar2_custom_container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  padding-left: 5%;
  padding-right: 5%;
}

.bold-text, .text-block-2, .text-block-3 {
  color: var(--text-elements);
}

.body {
  background-image: linear-gradient(to bottom, var(--bg-color), var(--bg-color));
  color: var(--text-elements);
}

.hero-header-wrapper {
  background-image: linear-gradient(to right, var(--1_special) 8%, var(--2_blue) 32%, var(--3_green) 62%, var(--4_purple) 91%);
  padding-bottom: .125rem;
}

.body-2 {
  background-color: var(--bg-color);
  color: var(--text-elements);
}

.text-block-4 {
  color: var(--text-elements);
}

.list {
  margin-bottom: 0;
  padding-left: 0;
}

.list-content {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--card-bg);
  grid-template-rows: auto;
  grid-template-columns: 2.5fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 3rem;
  padding-right: 3rem;
  display: grid;
}

.list-item {
  background-image: linear-gradient(to right, var(--1_special) 10%, var(--2_blue) 37%, var(--3_green) 65%, var(--4_purple) 91%);
  margin-top: 2rem;
  padding-top: .125rem;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, .2);
}

.list-item.list-item-first {
  margin-top: 0;
}

.webinar-suggested {
  display: flex;
}

.webinar-suggested-text {
  max-width: 25rem;
  margin-left: 2rem;
}

.pricing10_feature-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: grid;
}

.icon-embed-xsmall-2 {
  width: 1.5rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.padding-section-large-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.padding-section-large-2.padding-section-large {
  padding-top: 0;
  display: block;
}

.heading-style-h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.pricing10_component {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  color: var(--text-elements);
  flex-wrap: wrap;
  grid-template-rows: auto;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.button-2 {
  background-color: var(--1_special);
  color: var(--text-elements);
  text-align: center;
  padding: .75rem 1.5rem;
}

.button-2.max-width-full {
  border-style: none;
  border-color: var(--2_blue);
  background-color: var(--card-bg);
  color: var(--text-elements);
}

.button-2.is-link {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  padding: .25rem 0;
  line-height: 1;
  text-decoration: none;
}

.button-2.is-link.is-icon {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
}

.pricing10_content {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.pricing10_plan {
  border: 1px solid var(--1_special);
  padding: 2rem;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, .3);
}

.pricing10_feature {
  display: flex;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.pricing10_icon-wrapper {
  flex: none;
  align-self: flex-start;
  margin-right: 1rem;
}

.heading-style-h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

.heading-style-h6 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
}

.section_pricing {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.footer-content {
  text-align: left;
  display: block;
}

.home_featured-webinar {
  width: 68%;
}

.waves---nav-cta {
  height: 52px;
  background-color: var(--waves-library-black\[deleted\|variable-d656d06e\]);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.waves---nav-buttons-right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.waves---nav-link {
  padding: 12px 16px;
}

.navbar_dropdown-link {
  color: var(--text-elements);
  text-align: center;
}

.navbar_dropdown-list {
  background-color: var(--bg-color);
  color: var(--text-elements);
}

.navbar_dropdown-list.yh--open {
  background-color: var(--bg-color);
}

.waves-icon-drodpdown {
  width: 24px;
  height: 24px;
  color: var(--text-elements);
}

.navbar_dropdown-toggle {
  grid-column-gap: 6px;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  display: flex;
}

.navbar_menu-dropdown {
  color: var(--text-elements);
  display: inline-block;
}

.waves---nav-menu {
  grid-column-gap: 16px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.waves-middle-nav-2 {
  grid-column-gap: 16px;
  color: var(--text-elements);
  justify-content: center;
  align-items: center;
  display: flex;
}

.waves---brand {
  height: 100%;
  max-width: none;
}

.waves---nav-brand-link {
  height: 24px;
}

.waves-master-nav-2 {
  width: 100%;
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 240px 1fr 240px;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: grid;
}

.waves---nav-container {
  height: 100%;
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
}

.waves-navbar-2 {
  z-index: 104;
  height: 80px;
  background-color: var(--waves-library-white\[deleted\|variable-bb55bcc6\]);
  border-bottom: 1px solid rgba(19, 19, 19, .2);
}

.text-block-5 {
  color: var(--text-elements);
}

.text-block-6 {
  color: var(--text-elements);
  text-transform: uppercase;
}

.link-block {
  color: var(--text-elements);
  text-decoration: none;
}

.heading, .paragraph {
  text-align: center;
}

.heading-2, .heading-3, .heading-4 {
  text-transform: capitalize;
}

.contact_item {
  text-align: center;
}

.form-checkbox {
  align-items: center;
  margin-bottom: 0;
  padding-left: 1.25rem;
  display: flex;
}

.form-checkbox-label {
  margin-bottom: 0;
}

.contact_contact-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.section_contact {
  color: var(--text-elements);
}

.field-label {
  margin-bottom: .5rem;
  font-weight: 400;
}

.form-checkbox-icon {
  width: 1.125rem;
  height: 1.125rem;
  min-height: 1.125rem;
  min-width: 1.125rem;
  border: 1px solid var(--text-elements);
  cursor: pointer;
  border-radius: 0;
  margin-top: 0;
  margin-left: -1.25rem;
  margin-right: .5rem;
  transition: all .2s;
}

.form-checkbox-icon.yh--redirected-checked {
  box-shadow: none;
  background-color: #000;
  background-size: 16px 16px;
  border-width: 1px;
  border-color: #000;
}

.form-checkbox-icon.yh--redirected-focus {
  box-shadow: none;
  border-color: #000;
}

.contact_form-block {
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0;
}

.form-field-wrapper {
  position: relative;
}

.form-input-2 {
  height: auto;
  min-height: 2.75rem;
  border: 1px solid var(--text-elements);
  background-color: var(--text-elements);
  color: var(--bg-color);
  -webkit-text-stroke-color: var(--text-elements);
  margin-bottom: 0;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.6;
}

.form-input-2:focus {
  border-color: #000;
}

.form-input-2::-ms-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.form-input-2::placeholder {
  color: rgba(0, 0, 0, .6);
}

.form-input-2.is-text-area {
  height: auto;
  min-height: 11.25rem;
  background-color: var(--text-elements);
  color: var(--bg-color);
  padding-top: .75rem;
  padding-bottom: .75rem;
  overflow: auto;
}

.contact_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.button-group-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.icon-embed-small {
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.padding-global-2 {
  padding-left: 5%;
  padding-right: 5%;
}

.container-large-2 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.contact_form {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.loader {
  z-index: 100;
  width: 100%;
  height: 100vh;
  grid-column-gap: .8rem;
  grid-row-gap: .8rem;
  background-color: var(--bg-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.image-2, .loader-logo {
  max-width: 5%;
}

.text-block-7 {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar2_dropdown-toggle {
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    font-size: 1.125rem;
    display: flex;
  }

  .menu-icon_line-top {
    width: 24px;
    height: 2px;
    background-color: var(--text-elements);
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar2_blog-item-image-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .navbar2_menu-right {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
  }

  .menu-icon_line-bottom {
    width: 24px;
    height: 2px;
    background-color: var(--text-elements);
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar2_blog-item-content {
    width: 100%;
  }

  .dropdown-chevron {
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .menu-icon {
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar_link {
    width: auto;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .navbar2_dropdown-content-right {
    max-width: none;
    align-items: flex-start;
    padding-top: 0;
  }

  .menu-icon_line-middle {
    width: 24px;
    height: 2px;
    background-color: var(--text-elements);
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar2_menu-dropdown {
    width: 100%;
  }

  .navbar2_blog-item {
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .navbar2_blog-item-image {
    width: 100%;
  }

  .navbar2_dropdown-content {
    flex-direction: column;
  }

  .navbar2_menu {
    height: 100dvh;
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    border-bottom: 1px solid #000;
    align-items: flex-start;
    margin-left: 0;
    padding: 1rem 5% 6.5rem;
    transition: height .5s;
    position: absolute;
    overflow: auto;
  }

  .navbar2_menu-button.yh--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar2_blog-list {
    width: 100%;
    grid-row-gap: 2rem;
  }

  .navbar2_dropdown-content-left {
    max-width: none;
    align-content: start;
    align-items: start;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar2_dropdown-list {
    position: relative;
    overflow: hidden;
  }

  .navbar2_dropdown-list.yh--open {
    border-style: none;
    align-items: flex-start;
    padding: 0 0 0;
    position: relative;
    top: 0;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .home_features-list_column {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  .home_features-list_card-large-content, .home_features-list_card-small-content {
    padding: 2rem;
  }

  .home_features-list_component {
    flex-direction: column;
  }

  .home_features-list_row {
    grid-template-columns: 1fr;
  }

  .home_newsletter_component {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .articles_blog-list_heading {
    margin-right: 3rem;
  }

  .articles_blog-list_list {
    grid-template-columns: 1fr 1fr;
  }

  .articles_blog-list_heading-wrapper {
    grid-column-gap: 3rem;
  }

  .articles_blog-list_button-row {
    flex: none;
  }

  .article_blog-post-header_image-wrapper {
    padding-top: 56.25%;
  }

  .article_blog-post-header_title-wrapper {
    margin-bottom: 4rem;
  }

  .heading-style-h2 {
    font-size: 2.75rem;
  }

  .article_blog-post-body_content {
    margin-bottom: 3rem;
  }

  .padding-section-large-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .heading-style-h1 {
    font-size: 3.25rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .heading-style-h4 {
    font-size: 1.75rem;
  }

  .home_featured-webinar {
    width: 100%;
  }

  .waves---hamburger-icon {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
  }

  .waves---menu-button {
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
  }

  .waves---menu-button.yh--open {
    width: 52px;
    height: 52px;
    background-color: var(--waves-library-black\[deleted\|variable-d656d06e\]);
    border-radius: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
  }

  .waves---nav-buttons-right {
    grid-column-gap: 8px;
  }

  .waves---nav-link {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    display: flex;
  }

  .navbar_dropdown-link {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
  }

  .navbar_dropdown-list.yh--open {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    position: static;
  }

  .navbar_dropdown-toggle {
    padding-right: 16px;
    font-size: 20px;
  }

  .navbar_menu-dropdown {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves---nav-menu {
    background-color: var(--waves-library-white\[deleted\|variable-bb55bcc6\]);
    border: 1px solid rgba(19, 19, 19, .1);
    border-radius: 8px;
    margin-top: 4px;
  }

  .waves---nav-brand-link {
    padding-left: 0;
  }

  .waves-master-nav-2 {
    display: flex;
  }

  .contact_component {
    min-height: auto;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 767px) {
  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar2_blog-item-image-wrapper {
    max-width: 100%;
  }

  .navbar2_dropdown-link-list {
    max-width: none;
  }

  .navbar2_dropdown-content-right {
    padding-bottom: 1.5rem;
  }

  .navbar2_blog-item {
    grid-row-gap: 1rem;
  }

  .navbar2_blog-item-image {
    margin-bottom: 0;
  }

  .navbar2_menu {
    padding-bottom: 6rem;
  }

  .navbar2_dropdown-content-left {
    grid-row-gap: 1.5rem;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .home_features-list_column {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .home_features-list_card-large-content {
    padding: 1.5rem;
  }

  .heading-style-h5 {
    font-size: 1.25rem;
  }

  .home_features-list_card-small-content {
    padding: 1.5rem;
  }

  .home_features-list_card-small {
    grid-template-columns: 1fr;
  }

  .home_features-list_component {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .home_features-list_row {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
  }

  .home_newsletter_component {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
  }

  .footer2_link-list {
    grid-column-gap: 0px;
    grid-row-gap: 1.5rem;
    grid-auto-flow: row;
    justify-items: center;
  }

  .footer2_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 1rem;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .footer2_credit-text {
    margin-top: 2rem;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .footer2_legal-list {
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    grid-auto-flow: row;
    justify-items: center;
  }

  .articles_blog-list_heading {
    margin-right: 0;
  }

  .articles_blog-list_list {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .articles_blog-list_heading-wrapper {
    grid-row-gap: 2rem;
    flex-direction: column;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .articles_blog-list_button-row {
    width: 100%;
    justify-content: flex-start;
  }

  .articles_blog-list_button-row.shoyh-mobile-landscape {
    margin-top: 2.5rem;
    display: flex;
  }

  .article_blog-post-header_title-wrapper {
    margin-bottom: 3rem;
  }

  .heading-style-h2 {
    font-size: 2.25rem;
  }

  .article_blog-post-body_content {
    margin-bottom: 2rem;
  }

  .article_blog-post-body_divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .padding-section-large-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .pricing10_component {
    grid-template-columns: 1fr;
  }

  .pricing10_plan {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .heading-style-h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .heading-style-h6 {
    font-size: 1.125rem;
  }

  .waves---nav-container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .contact_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar_component {
    min-height: 0;
  }

  .navbar2_dropdown-link {
    padding-left: 0;
  }

  .navbar2_blog-item {
    flex-direction: column;
  }

  .navbar2_blog-list {
    grid-template-columns: 1fr;
  }

  .navbar2_dropdown-content-left {
    grid-template-columns: 1fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-section-large {
    max-width: 100%;
  }

  .home_hero-header_form {
    grid-row-gap: .75rem;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .home_features-list_card-medium-content {
    display: block;
  }

  .home_features-list_column {
    grid-template-columns: 1fr;
  }

  .home_features-list_card-large-content {
    display: block;
  }

  .home_features-list_card-large, .home_features-list_card-medium {
    flex-direction: column;
    display: flex;
  }

  .home_features-list_component {
    max-width: 100%;
  }

  /* Nyhedsbrev */

  .home_newsletter_component {
    grid-template-columns: 1fr;
  }

  .signup-form-wrapper {
    grid-row-gap: .75rem;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  /* Til at style artiklerne */

  .articles_blog-list_item-content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .article_blog-post-header_author-wrapper {
    margin-bottom: 1rem;
  }

  .article_blog-post-header_content-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .article_blog-post-body_tag-list {
    justify-content: flex-start;
  }

  .article_blog-post-body_author-wrapper {
    margin-bottom: 1rem;
  }

  .article_blog-post-body_share-wrapper {
    width: 100%;
    margin-bottom: 2rem;
  }

  .article_blog-post-body_tag-list-wrapper {
    width: 100%;
  }

  .article_blog-post-body_content-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .list-content {
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .webinar-suggested {
    flex-direction: column;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .waves---nav-cta {
    display: none;
  }

  .contact_contact-list, .contact_component {
    grid-template-columns: 1fr;
  }
}

/* Framework baserede id's til at grid elementer */

#yh-node-fd61d151-4369-f824-5c90-260e48c9ea9a-dcb63d58, #yh-node-d0fb67cf-8556-8433-04e7-99a8f38dcb8a-dcb63d58, #yh-node-_729c5af3-6672-be8e-dd70-34686383c302-dcb63d58, #yh-node-eb9e5a91-51cd-60da-7bb6-c94cd8a1f871-dcb63d58, #yh-node-eb9e5a91-51cd-60da-7bb6-c94cd8a1f872-dcb63d58, #yh-node-_7c04fb2f-41c7-829c-8298-5b49195f6556-dcb63d58, #yh-node-_7c04fb2f-41c7-829c-8298-5b49195f6557-dcb63d58 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#yh-node-_82e4781d-b47e-ef66-146c-3757ffd57791-dcb63d58 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#yh-node-_7daabc1a-1504-6c3a-f4c4-6a12eaedad6e-eaedad68 {
  justify-self: center;
}

#yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d65-03733a4d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d66-03733a4d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d72-03733a4d {
  align-self: start;
}

#yh-node-_1e8cf1ca-b41f-2d42-c177-38db97ec8233-03733a4d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#yh-node-_1e8cf1ca-b41f-2d42-c177-38db97ec8234-03733a4d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#yh-node-_1e8cf1ca-b41f-2d42-c177-38db97ec8235-03733a4d {
  align-self: start;
}

#yh-node-f702c73f-0ab2-7fe0-2de9-120c37f6e1c2-03733a4d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#yh-node-f702c73f-0ab2-7fe0-2de9-120c37f6e1c3-03733a4d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#yh-node-f702c73f-0ab2-7fe0-2de9-120c37f6e1c4-03733a4d {
  align-self: start;
}

#yh-node-_2cb7bae7-4717-3e85-5497-34e60c914a14-03733a4d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#yh-node-_2cb7bae7-4717-3e85-5497-34e60c914a15-03733a4d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#yh-node-_2cb7bae7-4717-3e85-5497-34e60c914a16-03733a4d {
  align-self: start;
}

#yh-node-_0838e3fa-7caf-d361-1ab2-9e8729ad7a89-03733a4d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#yh-node-_0838e3fa-7caf-d361-1ab2-9e8729ad7a8a-03733a4d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#yh-node-_0838e3fa-7caf-d361-1ab2-9e8729ad7a8b-03733a4d {
  align-self: start;
}

#yh-node-d5b1e644-c47b-e0e2-8e11-2ab57bba4412-03733a4d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#yh-node-d5b1e644-c47b-e0e2-8e11-2ab57bba4413-03733a4d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#yh-node-d5b1e644-c47b-e0e2-8e11-2ab57bba4414-03733a4d, #yh-node-b82955e2-d4a5-4dcb-02c8-f14e74cddb21-74cddb05, #yh-node-b82955e2-d4a5-4dcb-02c8-f14e74cddb26-74cddb05, #yh-node-b82955e2-d4a5-4dcb-02c8-f14e74cddb3d-74cddb05, #yh-node-b82955e2-d4a5-4dcb-02c8-f14e74cddb42-74cddb05, #yh-node-b82955e2-d4a5-4dcb-02c8-f14e74cddb47-74cddb05, #yh-node-b82955e2-d4a5-4dcb-02c8-f14e74cddb4c-74cddb05, #yh-node-daede076-dd18-dad6-aaaf-8c0348c727df-74cddb05, #yh-node-daede076-dd18-dad6-aaaf-8c0348c727e4-74cddb05, #yh-node-daede076-dd18-dad6-aaaf-8c0348c727e9-74cddb05, #yh-node-daede076-dd18-dad6-aaaf-8c0348c727ee-74cddb05, #yh-node-c1711dcb-aca2-87a3-4c3a-262cbd132225-74cddb05, #yh-node-a143f74a-1dd1-babc-cc84-9aa0dcc474eb-74cddb05 {
  align-self: start;
}

#yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d65-462cd485 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d66-462cd485 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d72-462cd485 {
  align-self: start;
}

#yh-node-_8eff36bd-fb83-fe59-c7a9-00e228011c82-462cd485 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#yh-node-_8eff36bd-fb83-fe59-c7a9-00e228011c83-462cd485 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#yh-node-_8eff36bd-fb83-fe59-c7a9-00e228011c84-462cd485 {
  align-self: start;
}

#yh-node-_73f7d025-b72a-751c-4152-ebfdf9af13e0-462cd485 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#yh-node-_73f7d025-b72a-751c-4152-ebfdf9af13e1-462cd485 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#yh-node-_73f7d025-b72a-751c-4152-ebfdf9af13e2-462cd485 {
  align-self: start;
}

#yh-node-_42d0e65e-e24a-e502-7d4c-043ac07a85fc-7eb695ed {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #yh-node-_82e4781d-b47e-ef66-146c-3757ffd57791-dcb63d58 {
    grid-area: span 2 / span 2 / span 2 / span 2;
  }

  #yh-node-_7daabc1a-1504-6c3a-f4c4-6a12eaedad6e-eaedad68 {
    justify-self: center;
  }

  #yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d66-03733a4d, #yh-node-_1e8cf1ca-b41f-2d42-c177-38db97ec8234-03733a4d, #yh-node-f702c73f-0ab2-7fe0-2de9-120c37f6e1c3-03733a4d, #yh-node-_2cb7bae7-4717-3e85-5497-34e60c914a15-03733a4d, #yh-node-_0838e3fa-7caf-d361-1ab2-9e8729ad7a8a-03733a4d, #yh-node-d5b1e644-c47b-e0e2-8e11-2ab57bba4413-03733a4d, #yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d66-462cd485, #yh-node-_8eff36bd-fb83-fe59-c7a9-00e228011c83-462cd485, #yh-node-_73f7d025-b72a-751c-4152-ebfdf9af13e1-462cd485 {
    grid-area: span 2 / span 2 / span 2 / span 2;
  }
}

@media screen and (max-width: 767px) {
  #yh-node-_82e4781d-b47e-ef66-146c-3757ffd57791-dcb63d58, #yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d66-03733a4d, #yh-node-_1e8cf1ca-b41f-2d42-c177-38db97ec8234-03733a4d, #yh-node-f702c73f-0ab2-7fe0-2de9-120c37f6e1c3-03733a4d, #yh-node-_2cb7bae7-4717-3e85-5497-34e60c914a15-03733a4d, #yh-node-_0838e3fa-7caf-d361-1ab2-9e8729ad7a8a-03733a4d, #yh-node-d5b1e644-c47b-e0e2-8e11-2ab57bba4413-03733a4d, #yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d66-462cd485, #yh-node-_8eff36bd-fb83-fe59-c7a9-00e228011c83-462cd485, #yh-node-_73f7d025-b72a-751c-4152-ebfdf9af13e1-462cd485 {
    grid-column: span 2 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #yh-node-_82e4781d-b47e-ef66-146c-3757ffd57791-dcb63d58 {
    grid-column: span 1 / span 1;
  }

  #yh-node-_7daabc1a-1504-6c3a-f4c4-6a12eaedad6e-eaedad68 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d66-03733a4d, #yh-node-_1e8cf1ca-b41f-2d42-c177-38db97ec8234-03733a4d, #yh-node-f702c73f-0ab2-7fe0-2de9-120c37f6e1c3-03733a4d, #yh-node-_2cb7bae7-4717-3e85-5497-34e60c914a15-03733a4d, #yh-node-_0838e3fa-7caf-d361-1ab2-9e8729ad7a8a-03733a4d, #yh-node-d5b1e644-c47b-e0e2-8e11-2ab57bba4413-03733a4d, #yh-node-_4a929efd-0fb4-a4e7-d821-98d7ac932d66-462cd485, #yh-node-_8eff36bd-fb83-fe59-c7a9-00e228011c83-462cd485, #yh-node-_73f7d025-b72a-751c-4152-ebfdf9af13e1-462cd485 {
    grid-column: span 1 / span 1;
  }
}
